<% if(!nodes) { %> 
<div class="Level-0" id="0">
    <br>
    <form id="add-skill" method="POST" action="/skills/new">
        <input type="text" name="skillName" class="new-skill-name">
        <input type="hidden" name="belongsTo" value="-1">
        <input type="hidden" name="level" value="0">
        <input type="submit" value="+">
      </form>
</div>
<% } else { %>
    <% 
        let node;
        let cue = [nodes];
        let seen = [];
        let width = nodes.nextNodes.length;
        let breadth = 0;
        let pastLevel = nodes.level;
        let pastBelongsTo = nodes.belongsTo;
        let fromNode = "none";
        while (cue.length > 0) {
            node = cue.pop();
            if ( node === "SPACE" ) {
                %>
                <div class="branch-spacer"></div>
                <%
            }
            else {
                if (pastLevel < node.level || node.level === 0) {
                    %>
                    </div>
                    <br>
                    <div class="level-container" id="level-<%= node.level %>">
                    <%
                    pastLevel = node.level;
                }
        %> 
                <div class="skill-node" data-nodeID="<%= node._id %>"  data-fromNode="<%= node.belongsTo %>"><%= node.skillName %>
                <form id="add-skill" method="POST" action="/skills/new/<%= node._id %>">
                    <input type="text" name="skillName" class="new-skill-name">
                    <input type="hidden" name="belongsTo" value="<%= node._id %>">
                    <input type="hidden" name="level" value="<%= node.level + 1 %>">
                    <input type="submit" value="+">
                </form>
                <form class="inline" id="delete-but" method="POST" action="/skills/<%= node._id %>?_method=DELETE">
                    <input type="submit" value="X">
                </form>
                <form class="inline" method="POST" action="/skills/edit/<%= node._id %>">
                    <button type="submit">edt</button>
                </form>
                </form>
                </div>
        <%
                
                for(let i = 0; i < node.nextNodes.length; i++) {
                    if (i==0) {
                        cue.unshift("SPACE")
                    }
                    cue.unshift(node.nextNodes[i]);
                }
            }
        }
        %>  
<% } %> 